.faq-item {
    display: block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.question {
    font-weight: bold;
}

.answer {
    margin-top: 10px;
}
hr{
border-style: none;
border-top-style: dotted;
border-color:aquamarine;
border-width: 5px;
width: 20%;
}

.faq-item:hover{
background-color:#FFDFDF;
border: solid 5px;
}
.empty{
background-color: #D83F31;

}
.line{
border: dotted;
border-color: aquamarine;
border-width: 20%;
background-color: #D83F31;
}

.SearchBar {
position: absolute;
top: 355px;
left: 575px;
}

.searchbar {
height: 30px;
width: 100%;
}